body {
  background-color: #00ff55;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: black;
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  width: 600px;
  height: 450px;
}

.password-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.password-box input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.password-box button {
  padding: 10px;
  background: #333;
  color: white;
  border: none;
  border-left: 1px solid #222;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.options {
  margin: 20px 0;
}

.options label {
  display: block;
  margin-bottom: 10px;
}

.length-box {
  margin-top: 10px;
}

.length-box input[type="number"] {
  width: 60px;
  margin-left: 10px;
  padding: 4px;
}

.length-box input[type="range"] {
  width: 100%;
  margin-top: 10px;
}

.generate-btn {
  width: 100%;
  padding: 10px;
  background: #00ff55;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

footer span {
  color: red;
}

footer a {
  color: #00ffcc;
  text-decoration: none;
}
